In [14]:
import re
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [2]:
df = pd.read_csv('twitter.csv')

In [3]:
df

,id,company,sentiment,raw_tweet
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,⭐️ Toronto is the arts and culture capital of ...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [4]:
tweets = df['raw_tweet'].values

### Preprocessing

In [15]:
stemmer = PorterStemmer()

In [43]:
processed_tweets = []

for tweet in tweets:
    
#     print(tweet, '\n')
    
    tweet = re.sub(r'[^a-zA-Z]',' ',tweet)
    
#     print(tweet, '\n')
    
    tweet = tweet.lower()
#     print(tweet, '\n')
    
    tweet = ' '.join([word for word in tweet.split(' ') if not word in stopwords.words('english')])
#     print(tweet, '\n')
    
    tweet = [stemmer.stem(word) for word in tweet.split()]
#     print(tweet, '\n')
    
    tweet = [word for word in tweet if len(word) != 0]
#     print(tweet, '\n')
    
    tweet = ' '.join(tweet)
#     print(tweet, '\n')
    
    processed_tweets.append(tweet)

In [44]:
processed_tweets;

### TF-IDF

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

enc_tweets = tfidf.fit_transform(processed_tweets)

In [46]:
df = pd.DataFrame(enc_tweets.toarray(), columns = tfidf.get_feature_names_out())
df

,aaaahhh,aahqxw,ab,abella,abhijeet,abil,abl,abort,absolut,abstract,...,zprctbdtvt,zqw,zsmitti,ztc,ztl,zukf,zwqorfk,zy,zyot,zysola
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Saving the models and encoding

In [47]:
df.to_csv('tfidf_enc.csv', index = False)